<div>
  <div class="row">
    <div *ngFor="let album of newReleases.items" class="col-3 mt-3">
      <div class="card">
        <img class="card-img-top" src="assets/images/test.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Sad But True</h4>
          <h6 class="card-subtitle mb-2 text-muted">Metallica</h6>
          <p>Escuchar en:</p>
          <div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Spotify</button>
            <button type="button" class="btn btn-primary">Deezer</button>
            <button type="button" class="btn btn-primary">SoundCloud</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
