<app-carousel></app-carousel>
<div class="container">
  <h1>Nuevos Lanzamientos</h1>
  <h4>*Para poder visualizar Deezer Correctamente hacer click <a href="https://cors-anywhere.herokuapp.com" target="_blank">aquí</a>, seguir los pasos y refrescar la página*</h4>
  <div *ngIf="newReleases" class="row">
    <div *ngFor="let album of newReleases.albums.items | slice: pageSize | slice: 0:itemsPerPage" class="col-3 mt-3">
      <div class="card">
        <img class="card-img-top" src="{{album.images[1].url}}" alt="Card image cap">
        <app-dark-overlay
          [artistName] = "album.artists[0].name"
          [albumName] = "album.name"
          [albumReleaseDate] = "album.release_date"
          [totalTracks] = "album.total_tracks"
          [songUrl] = "album.external_urls.spotify"
          [albumId] = "album.id"
        ></app-dark-overlay>
      </div>
    </div>
  </div>
  <br>
  <br>
  <ngb-pagination class="d-flex justify-content-center align-items-center"
      *ngIf="newReleases"
      class="inline-pagination d-flex justify-content-center align-items-center"
      [collectionSize]="newReleases.albums.items.length"
      #numPages
      [pageSize]="itemsPerPage"
      [(page)]="currentPage"
      (pageChange)="onPageChange(currentPage)">
    </ngb-pagination>
</div>
