<div class="container">
  <div *ngIf="newReleases" class="row">
    <div *ngFor="let album of newReleases.albums.items | slice: pageSize | slice: 0:itemsPerPage" class="col-3 mt-3">
      <div class="card">
        <img class="card-img-top" src="{{album.images[1].url}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{album.artists[0].name}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{album.name}}</h6>
          <p><strong>Fecha de lanzamientos:</strong> {{album.release_date}}</p>
          <p><strong>Numero de canciones:</strong> {{album.total_tracks}}</p>
          <a target="_blank" href="{{album.external_urls.spotify}}" class="btn btn-primary">Ver en Spotify</a>
        </div>
      </div>
    </div>



  </div>
  <br>
  <br>
  <ngb-pagination
      *ngIf="newReleases"
      class="inline-pagination"
      [collectionSize]="newReleases.albums.items.length"
      #numPages
      [pageSize]="itemsPerPage"
      [(page)]="currentPage"
      (pageChange)="onPageChange(currentPage)">
    </ngb-pagination>
</div>
