<div class="row mt-5 mb-5">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Top 10 Spotify</h4>
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Canción</th>
              <th>Duración</th>
              <th>Artista</th>
              <th>Álbum</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let song of topSongs; let i = index" [attr.data-index]="i" class="table-select" routerLink="/song/{{song.track.id}}" routerLinkActive="active">
              <td scope="row">{{i + 1}}</td>
              <td>{{song.track.name}}</td>
              <td>{{getTimeInMinute(song.track.duration_ms)}}</td>
              <td>{{song.track.artists[0].name}}</td>
              <td>{{song.track.album.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Top 10 Deezer</h4>
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Canción</th>
              <th>Duración</th>
              <th>Artista</th>
              <th>Álbum</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let song of deezerTopSongs; let i = index" [attr.data-index]="i">
              <th scope="row">{{i + 1}}</th>
              <td>{{song.title}}</td>
              <td>{{secondsToMinutes(song.duration)}}</td>
              <td>{{song.artist.name}}</td>
              <td>{{song.album.title}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

