.table-select {
  cursor: pointer;
}

.spotify-btn{
  background-color: #1DD05D;
  border:none;
}

.deezer-btn{
  border: none;
  background-color: #EF5466;
}

.table-striped > tbody > tr:nth-of-type(odd).deezer-song{
  background-color: rgba(239,	84,	102, 0.2)
}

.table-striped > tbody > tr:nth-of-type(odd).spoti-song{
  background-color: rgba(29,	208,	93, 0.2)
}

h1,h4{
  color: white;
}

h4.card-title{
  color: black;
}
.trackName{
  font-weight: 700;
}
