<app-header></app-header>
<div class="row mt-5 mb-5">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Busqueda Spotify</h4>
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th>Canción</th>
              <th>Duración</th>
              <th>Artista</th>
              <th>Álbum</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let track of tracks" routerLink="/song/{{track.id}}" routerLinkActive="active" class="table-select">
              <td>{{track.name}}</td>
              <td>{{this.getTimeInMinute(track.duration_ms)}}</td>
              <td>{{track.artists[0].name}}</td>
              <td>{{track.album.name}}</td>
              <td style="width:200px;"><a target="_blank" href="{{track.external_urls.spotify}}" class="btn btn-primary">Escuchar en Spotify</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Busqueda Deezer</h4>
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th>Canción</th>
              <th>Duración</th>
              <th>Artista</th>
              <th>Álbum</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let track of tracks">
              <td>{{track.name}}</td>
              <td>{{this.getTimeInMinute(track.duration_ms)}}</td>
              <td>{{track.artists[0].name}}</td>
              <td>{{track.album.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>    
  </div>
</div>
