

.spotify-btn {
  color: green;
  border:none;
  height: 10px;
}

.deezer-btn {
  color: #EF5466;
  border:none;
  height: 10px;
  text-align: center;
}
.listenOn{
  display: flex;
}

.listenOn .spotify-btn{
  padding-left: 1rem;
  vertical-align: middle;
}

.listenOn .deezer-btn{
  padding-left: 1rem;
  vertical-align: middle;
}

.fav-heart{
  cursor: pointer;
}

.qrcode-box, .bshadow, .qrcode {
  width: 100%;
  height: 100%;
}