<app-top-songs company="Spotify"></app-top-songs>
<app-top-songs company="Deezer"></app-top-songs>
<app-top-songs company="SoundCloud"></app-top-songs>
<div class="mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card h-100">
        <img class="card-img-top" src="assets/images/test.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Enter Sandman</h4>
          <h6 class="card-subtitle mb-2 text-muted">Metallica - 1991 - 5:31</h6>
          <p class="card-text">
            <strong>Interpretado por:</strong> Metallica
          </p>

          <p class="card-text">
            <strong>Compuesta por:</strong> James Hetfield, Kirk Hammett, Lars Ulrich
          </p>

          <p class="card-text">
            <strong>Producida por:</strong> Bob Rock, James Hetfield, Lars Ulrich
          </p>

          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-primary">Listen on Soundcloud</button>
            <button type="button" class="btn btn-primary">Listen on Spotify</button>
            <button type="button" class="btn btn-primary">Listen on Deezer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
